@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    font-family: 'Roboto Slab', serif;
}

h1{
    color: #F4A261;
}

body{
    margin: 0;
    padding: 0;
}
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    color: white;
    position: relative;
    z-index: 2;
}

/* Doesn't work */
header .container h1 {
    font-weight: 700;
}
  
.headerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

main{
    padding-left: 5vw;
    padding-right: 5vw;
}

#video-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 3;
}
#showreel-video {
    max-width: 80%;
    max-height: 80%;
    border-radius: 15px;
}
#close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;
    color: white;
    font-size: large;
}
#thumbnails-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    overflow: hidden; 
}
.thumbnail{
    border-radius: 15px;
    width: 22%;
    max-width: 50%;
    height: auto;
    cursor: pointer;
}

.half-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    overflow: hidden;
}

.half {
    width: 48%;
}
.half img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}